.CommentListItem {
  border-bottom: 1px solid var(--border-color-grey);
  display: grid;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
}

.CommentListItem:last-child {
  border-bottom: none;
}

.p {
  word-wrap: break-word;
  margin: 0;
}

.tableCellStyle {
  font-size: 1rem;
  padding: 1rem;
}

.author {
  composes: tableCellStyle;
}

.comment {
  composes: tableCellStyle;
  word-wrap: break-word;
  hyphens: auto;
}

.post {
  composes: tableCellStyle;
  word-wrap: break-word;
  hyphens: auto;
}

.submitted {
  composes: tableCellStyle;
}

.link {
  composes: tableCellStyle;
}

.form {
  composes: tableCellStyle;
}

.link {
  text-decoration: none;
  color: inherit;
  width: fit-content;
  height: fit-content;
}

.submit {
  font-size: 1rem;
}
