.CommentListItem {
  border-bottom: 1px solid var(--border-gray);
  display: grid;
  grid-template-columns: repeat(6, minmax(10rem, 1fr));
}

.CommentListItem:last-child {
  border-bottom: none;
}

.p {
  word-wrap: break-word;
}

.tableCellStyle {
  font-size: 1rem;
  padding: 1rem;
}

.author {
  composes: tableCellStyle;
}

.comment {
  composes: tableCellStyle;
  word-wrap: break-word;
  hyphens: auto;
}

.post {
  composes: tableCellStyle;
  word-wrap: break-word;
  hyphens: auto;
}

.submitted {
  composes: tableCellStyle;
}

.edit {
  composes: tableCellStyle;
  color: var(--text-primary);
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.edit:hover {
  text-decoration: underline;
}

.form {
  composes: tableCellStyle;
}

.delete {
  composes: button from global;
  background-color: var(--btn-bg-firebrick);
}

.delete:hover {
  background-color: var(--btn-hover-bg-crimson);
}

.delete:active {
  background-color: var(--btn-active-bg-maroon);
}
