.CommentList {
  border: 1px solid darkgray;
  width: 960px;
  display: grid;
  grid-template-columns: repeat(
    6,
    minmax(158px, 1fr)
  ); /* Minmax should off-set border measurement */
  grid-template-rows: 1fr auto;
}

.header {
  padding: 1rem;
  background-color: dimgrey;
}

.h4 {
  margin: 0;
}

.ul {
  grid-column: 1/8;
}
