.Overview {
  composes: ss-container from global;
}

.header {
  composes: ss-header from global;
}

.message {
  composes: ss-message from global;
}

.card {
  composes: flex-column from global;
  border-radius: 5px;
  border: 1px solid var(--border-gray);
  width: min(calc(100% - 2rem), 400px);
}

.infoHeader {
  border-bottom: 1px solid var(--border-gray);
  font-size: 1rem;
  padding: 1rem;
}

.infoMessage {
  padding: 1rem;
}
