.CommentsStyle {
  composes: ss-container from global;
  /* overflow-y: scroll; */
  /* padding: 1rem 1rem 2rem 1rem; */
}

.Comments {
  composes: CommentsStyle;
  /* Width should at least off-set scroll bar width to prevent overflow */
  min-width: calc(60rem + 4rem);
}

.CommentsEdit {
  composes: CommentsStyle;
  /* Width should at least off-set scroll bar width to prevent overflow */
  min-width: calc(500px + 5rem);
}

.header {
  composes: ss-header from global;
}
