.Overview {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
}

.h1 {
  font-size: 1.5rem;
  padding: 1rem;
}

.Overview .h1 {
  padding: 0;
}

.section {
  border: 1px solid gray;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.h2 {
  border-bottom: 1px solid gray;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0;
}

.p {
  padding-left: 1rem;
}
