.Overview {
  composes: flex-column-align-center from global;
  max-width: 100%;
  overflow-y: scroll;
  padding: 1rem;
}

.altMessage {
  font-size: 1rem;
}

.header {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin: 1rem 0 2rem 0;
}

.article {
  composes: flex-column from global;
  border-radius: 5px;
  border: 1px solid var(--border-color-grey);
  width: min(calc(100% - 2rem), 400px);
}

.h2 {
  border-bottom: 1px solid var(--border-color-grey);
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
}

.statistics {
  padding: 1rem;
}
