.Settings {
  composes: flex-column-align-center from global;
  min-width: calc(500px + 5rem);
  overflow-y: scroll;
  padding: 1rem 1rem 2rem 1rem;
}

.header {
  composes: flex-row-align-center from global;
  width: 100%;
  padding-left: 1rem;
  margin: 1rem 0 2rem 0;
}

.h1 {
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  width: 100%;
  height: 42px;
  display: flex;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.link,
.linkHighlight {
  composes: flex-row-center from global;
  border-radius: 10px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: inherit;
  width: 100px;
  height: 40px;
  box-sizing: content-box;
}

.link:nth-child(n + 2),
.linkHighlight:nth-child(n + 2) {
  margin-left: 1rem;
}

.linkHighlight {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.87);
  font-weight: bold;
  height: 40px;
  padding: 0;
  box-sizing: content-box;
}
