.Settings {
  composes: ss-container from global;
  min-width: calc(31.25rem + 5rem);
}

.header {
  composes: ss-header from global;
}

.nav {
  composes: flex-row from global;
  width: 100%;
  height: 2.625rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.linkStyle {
  composes: flex-row-center from global;
  color: var(--text-primary);
  width: 6.25rem;
  height: 2.5rem;
  box-sizing: content-box;
}

.link {
  composes: linkStyle;
}

.link:nth-child(n + 2) {
  margin-left: 1rem;
}

.linkHighlight {
  composes: linkStyle;
  border-bottom: 2px solid var(--text-primary);
  font-weight: 700;
}

.linkHighlight:nth-child(n + 2) {
  margin-left: 1rem;
}
