.Posts {
  composes: ss-container from global;
  /* Width should at least off-set scroll bar width to prevent overflow */
  min-width: calc(31.25rem + 5rem);
}

.header {
  composes:
    ss-header from global,
    flex-row-align from global;
}

.create {
  composes:
    flex-row-center from global,
    button from global;
  padding: 0.25rem 0.5rem;
  margin-left: 10px;
}

.create:hover {
  background-color: var(--btn-hover-bg-darkgray);
}

.create:active {
  background-color: var(--btn-active-bg-dimgray);
}
