.Password {
  composes: flex-column-align-center from global;
  border: 1px solid orange;
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.h2 {
  font-size: 1.2rem;
  margin-top: 0;
}

.form {
  composes: flex-column from global;
}

.inputGroup {
  composes: flex-column from global;
  height: 92px;
  margin-bottom: 1rem;
}

.label {
  min-width: 500px;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.inputStyle {
  border-radius: 10px;
  border: 1px solid var(--border-color-grey);
  font-size: 1rem;
  padding: 1rem;
}

.input {
  composes: inputStyle;
  width: 500px;
  height: 40px;
  font-size: 1rem;
}

.buttonContainer {
  composes: flex-column from global;
  min-width: 500px;
}

.submit {
  width: 100px;
  font-size: 1rem;
  margin-top: 2rem;
}

.inputError {
  font-size: 1rem;
}
