.Dashboard {
  composes: app-height-width from global;
  display: grid;
  grid-template-columns: 200px 1fr;
  background: var(--primary-background-color);
}

.aside {
  composes: flex-column from global;
  border-right: 1px solid var(--border-color-grey);
  height: 100vh;
  padding: 1rem;
}

.nav {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 50px) 1fr 50px 10px;
}

.h1 {
  font-size: 1.5rem;
  padding-left: 1rem;
  margin: 1rem 0;
}

.linkStyle {
  composes: flex-row-align-center from global;
  border-radius: 10px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  padding-left: 1rem;
}

.link {
  composes: linkStyle;
}

.link:hover {
  background: var(--link-hover-bg-color-grey);
}

.linkHightlight {
  composes: linkStyle;
  font-weight: bold;
}

.linkHightlight:hover {
  background: var(--link-hover-bg-color-grey);
}

.more {
  composes: flex-row-align-center from global;
  border: none;
  border-radius: 10px;
  background: none;
  color: var(--primary-color);
  font: inherit;
  font-size: 1rem;
  grid-row: 6/7;
  padding-left: 1rem;
  cursor: pointer;
}

.more:hover {
  background: var(--link-hover-bg-color-grey);
}

.more:focus {
  font-weight: bold;
}

.popup {
  border-radius: 10px;
  background: var(--popup-bg-color);
  position: fixed;
  height: 200px;
  width: 200px;
  bottom: 5rem;
  left: 1rem;
  display: flex;
}

.popupButton {
  composes: flex-row-align-center from global;
  border: none;
  border-radius: 6px; /* Outer Radius – Padding = Inner Radius */
  background: none;
  color: var(--primary-color);
  font: inherit;
  height: 50px;
  width: 100%;
  padding: 0 0 0 1rem;
  margin: 10px;
  cursor: pointer;
}

.popupButton:hover {
  background: var(--link-hover-bg-color-grey);
}
