.Dashboard {
  composes: app-height-width from global;
  background: var(--bg-primary);
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.aside {
  composes: flex-column from global;
  border-right: 1px solid var(--border-gray);
  height: 100vh;
  padding: 1rem;
}

.header {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.nav {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 0.1fr) 1fr 0.1fr;
  align-items: center;
}

.linkStyle {
  composes: flex-row-align from global;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 1rem;
  height: 90%;
  padding-left: 1rem;
}

.link {
  composes: linkStyle;
}

.link:hover {
  background: var(--link-hover-bg-gray);
}

.linkHightlight:hover {
  background: var(--link-hover-bg-gray);
}

.linkHightlight {
  composes: linkStyle;
  font-weight: 700;
}

.more {
  composes: linkStyle;
  background-color: transparent;
  grid-row: 6/7;
  cursor: pointer;
}

.more:hover {
  background: var(--link-hover-bg-gray);
}

.more:focus {
  font-weight: 700;
}

.popup {
  composes: flex-column from global;
  border-radius: 10px;
  background: var(--popup-bg-black);
  position: fixed;
  height: 12.5rem;
  width: 12.5rem;
  bottom: 5rem;
  left: 1rem;
  padding: 0.75rem;
}

.popupButton {
  composes: linkStyle;
  border-radius: 5px; /* Outer Radius/2 = Inner Radius */
  color: var(--primary-color);
  height: 3.125rem;
  width: 100%;
  cursor: pointer;
}

.popupButton:hover {
  background: var(--link-hover-bg-gray);
}
