.PostList {
  border-radius: 5px;
  border: 1px solid var(--border-color-grey);
  display: grid;
  /* Min width will not shrink to 100px, as Post component stops shrinking before the columns reach min-value */
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: 1fr auto;
}

.header {
  background-color: var(--table-header-bg-color-grey);
  padding: 1rem;
}

.header:first-child {
  border-radius: 3px 0 0 0;
}

.header:nth-child(5) {
  border-radius: 0 3px 0 0;
}

.altMessage {
  font-size: 1rem;
}

.h2 {
  font-size: 1rem;
  margin: 0;
}

.ul {
  grid-column: 1/6;
}
