.PostListItem {
  border-bottom: 1px solid var(--border-color-grey);
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.PostListItem:last-child {
  border-bottom: none;
}

.tableCellStyle {
  font-size: 1rem;
  padding: 1rem;
}

.title {
  composes: tableCellStyle;
  word-wrap: break-word;
  hyphens: auto;
}

.author {
  composes: tableCellStyle;
}

.published {
  composes: tableCellStyle;
}

.link {
  composes: tableCellStyle;
}

.form {
  composes: tableCellStyle;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.submit {
  font-size: 1rem;
}
