.PostEdit {
  width: 1000px;
}

.h2 {
  font-size: 1.2rem;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  height: fit-content;
  height: 92px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.25rem;
}

.input {
  border-radius: 10px;
  border: 2px solid darkgrey;
  width: 500px;
  min-height: 40px;
  box-shadow: none;
}

.textareaGroup {
  height: 452px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.textarea {
  border-radius: 10px;
  border: 2px solid darkgrey;
  width: 800px;
  min-height: 400px;
}

.selectGroup {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.select {
  font-size: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.submit {
  font-size: 1rem;
  width: 100px;
  margin-top: 2rem;
}

.cancel {
  font-size: 1rem;
  width: 100px;
  margin-top: 1rem;
}
