.Login {
  composes: fs-container from global;
}

.header {
  composes: fs-header from global;
}

.message {
  composes: fs-message from global;
}

.form {
  composes: flex-column from global;
  border-radius: 10px;
  border: 1px solid var(--border-gray);
  min-width: 25rem;
  padding: 2rem;
}

.inputGroup {
  composes: flex-column from global;
  height: 5.75rem;
  margin-bottom: 1rem;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.input-style {
  border-radius: 10px;
  border: 1px solid var(--border-gray);
  font-size: 1rem;
  padding: 1rem;
}

.input {
  composes: input-style;
  height: 2.5rem;
}

.inputError {
  font-size: 1rem;
}

.submit {
  composes: button from global;
  width: 5rem;
  height: 2rem;
  align-self: end;
}

.submit:hover {
  background-color: var(--btn-hover-bg-darkgray);
}

.submit:active {
  background-color: var(--btn-active-bg-dimgray);
}
