.Login {
  composes:
    app-height-width from global,
    flex-column-align-center from global;
  padding: 2rem;
}

.altHeader {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.altMessage {
  font-size: 1rem;
}

.header {
  font-size: 2rem;
}

.form {
  composes: flex-column from global;
  border-radius: 5px;
  border: 1px solid var(--border-color-grey);
  min-width: 400px;
  padding: 2rem;
}

.inputGroup {
  composes: flex-column from global;
  height: 92px;
  margin-bottom: 1rem;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.inputStyle {
  border-radius: 10px;
  border: 1px solid var(--border-color-grey);
  font-size: 1rem;
  padding: 1rem;
}

.input {
  composes: inputStyle;
  min-height: 40px;
  font-size: 1rem;
}

.submit {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  align-self: end;
}
