.PostCreate {
  composes: ss-form-container from global;
}

.message {
  composes: ss-message from global;
}

.header {
  composes: ss-form-header from global;
}

.form {
  composes: ss-form from global;
}

.inputGroup {
  composes: ss-input-group from global;
}

.label {
  composes: ss-label from global;
}

.inputError {
  composes: ss-input-error from global;
}

.input {
  composes: ss-input from global;
}

.textareaGroup {
  composes: ss-textarea-group from global;
}

.textarea {
  composes: ss-textarea from global;
}

.selectGroup {
  composes: ss-select-group from global;
}

.select {
  composes: ss-select from global;
}

.buttonContainer {
  composes: ss-form-button-container from global;
}

.submit {
  composes:
    button from global,
    ss-form-button from global;
}

.submit:hover {
  background-color: var(--btn-hover-bg-darkgray);
}

.submit:active {
  background-color: var(--btn-active-bg-dimgray);
}

.cancel {
  composes:
    button from global,
    ss-form-button from global;
}

.cancel:hover {
  background-color: var(--btn-hover-bg-darkgray);
}

.cancel:active {
  background-color: var(--btn-active-bg-dimgray);
}
