.PostCreate {
  composes: flex-column-align-center from global;
  border: 1px solid orange;
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.header {
  width: 100%;
}

.h2 {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.form {
  composes: flex-column from global;
}

.inputGroup {
  composes: flex-column from global;
  height: 92px;
  margin-bottom: 1rem;
}

.label {
  min-width: 500px;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.inputStyle {
  border-radius: 10px;
  border: 1px solid var(--border-color-grey);
  font-size: 1rem;
  padding: 1rem;
}

.input {
  composes: inputStyle;
  min-width: 500px;
  height: 40px;
  font-size: 1rem;
}

.textareaGroup {
  composes: flex-column from global;
  height: 452px;
  margin-bottom: 1rem;
}

.textarea {
  composes: inputStyle;
  min-width: 500px;
  height: 400px;
  font-size: 1rem;
  resize: none;
}

.selectGroup {
  composes: flex-column from global;
}

.selectContainer {
  min-width: 500px;
}

.select {
  width: fit-content;
  font-size: 1rem;
  padding: 0.25rem;
}

.buttonContainer {
  composes: flex-column from global;
  min-width: 500px;
}

.formButtonStyle {
  width: 100px;
  font-size: 1rem;
}

.submit {
  composes: formButtonStyle;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.cancel {
  composes: formButtonStyle;
}

.inputError {
  font-size: 1rem;
}
